mat-toolbar {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 50 64px;
    background-color: rgb(135, 169, 198);
   
}

button {
    background-color: rgb(61, 153, 233);
    color: white;
    margin-left: 20px;
}
