h2{
	text-align: center;
	color: rgb(33, 74, 134);
}
form {
    margin: 2rem auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 425px;
	background-color: aliceblue;
	border-radius: 10px;
	box-shadow: 5px 5px 20px 0px rgb(114, 117, 120);
	padding: 20px 20px;
 
}

input {
    border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #eee; 
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
}

button[type="submit"] {
	font-size: 18px;
	background: rgb(118, 176, 230);
	color: white;
	margin-bottom: 10px;
	padding: 10px 16px;
	cursor: pointer;
}
mat-form-field{
	margin: .30rem;
}